{% extends 'base.html' %}

{% block title %}
{{ title }}
{%  endblock %}

{% block headlinde %}
{% endblock %}

{% block content %}
<P>{{ message }}</p>
<form action = "/next"  method = "POST">
    <table>
    <tr>
        <th> ■患者IDを入力ください</th>
    </tr>
        <th>ID</th>
        <td>
          <input type = number  name= "pati_id" 
            required />
        </td>
    </tr>
    <tr>
        <th>  ■性別を選んでください </th>
    </tr>
    <tr>
        <th>性別</th>
        <td>
            <input type = "radio" name = "sex" value =  "0" required> 男性
            <input type = "radio" name = "sex" value =  "1" required >女性
        </td>
    </tr>
    <tr>
       <th> ■年齢を入力してください </th>
    </tr>
    <tr>
        <th>年齢</th>
        <td>
            <input type = number name = "age" required >
        </td>
    </tr>
    <tr>
        <th> ■検査回数を選んでください </th>
    </tr>
    <tr>
        <th>回数</th>
        <td>
            <input type = "radio" name = "count" value = '1' required>1回目
            <input type = "radio" name = "count" value = '2' required>2回目  
            <input type = "radio" name = "count" value = '3' required>3回目
            <input type = "radio" name = "count" value = '4' required>4回目 
        </td>
    </tr>
    <tr>
        <th>■血液データを入力してください </th>
    </tr>
        <th>ALB（筋肉）</th>
        <td>
            <input type = "number" step= 0.1 name = "ALB" required>
        </td>
    </tr>
    <tr>
        <th>AST（肝臓）</th>
        <td>
            <input type = "number" step= 0.1 name = "AST" required>
        </td>
    </tr>
    <tr>
        <tr>
            <th>ALT（肝臓）</th>
            <td>
                <input type = "number" step= 0.1 name = "ALT" required>
            </td>
        </tr>
        <tr>
        <th>γ-GTP（肝臓）</th>
        <td>
            <input type = "number" step= 0.1 name = "GTP" required>
        </td>
    </tr>
    <tr>
        <th>HBA1C（糖尿）</th>
        <td>
            <input type = "number" step= 0.1 name = "HBA1C" required>
        </td>
    </tr>
    <tr>
        <th>HEMO（へモグロビン）</th>
        <td>
            <input type = "number" step= 0.1 name = "HEMO" required>
        </td>
    </tr>
    <tr>
        <th>CRP（炎症症状）</th>
        <td>
            <input type = "number" step= 0.1 name = "CRP" required>
        </td>
    </tr>
    <tr>
        <th>CRE（腎臓）</th>
        <td>
            <input type = "number" step= 0.1 name = "CRE" required>
        </td>
    </tr>
  </table>
    <input type="submit" value='next'>
</form>

{% endblock  %}
{% block footer %}
{% endblock%}
