{% extends 'base.html' %}

{% block title %}
{{ title }}
{%  endblock %}

{% block headlinde %}
{% endblock %}

{% block content %}
<P>{{ message }}</p>
<table>
    <tr>
        <th>リハビリ総合実施計画書の項目を入力してください</th>
        <tr>
            <th>麻痺側</th>
            <td>
                <input type = "radio" name = "gender" value = '0' >右
                <input type = "radio" name = "gender" value = '1' >左
            </td>
        </tr>
    <tr>
        <th>data4</th>
        <td>
            <input type = "number" name = "data4" >
        </td>
    </tr>
</table>
</form>
<form action="/" method="get">
        <input type="submit" value='back'>
</form>
<form action="/sub" method="get">
    <input type="submit" value='submit'>
</form>
{% endblock  %}
{% block footer %}
{% endblock%}